* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

#logo-container {
    width: 80vmin;
    height: 80vmin;
    // horizontally center
    margin: auto;
}

button {
    // make this button look lik a link

    background: none !important;
    border: none;
    padding: 0 !important;
    font-family: arial, sans-serif;
    color: rgb(0, 174, 239);
    cursor: pointer;
    font-size: 1.2em;

    &:hover {
        text-decoration: underline;
        color: rgb(251, 176, 64);
    }
}

#button-container {
    text-align: center;

    button {
        margin: 0px 20px;
    }
}
