* {
    margin: 0;
    padding: 0;
    --bg-color: #202020;
    --text-color-dark: #8a8a8a;
    --text-color-light: #e1e1e1;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color-scheme: dark;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-color);
}

main {
    flex-grow: 1;
    display: grid;
    place-items: center;
}

div#side-bar {
    width: 400px;
    padding: 20px;
    font-size: 20px;
    color: var(--text-color-dark);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div#side-bar input {
    display: block;
    margin: 5px 0;
}

div#side-bar input[type='number'] {
    background-color: #202020;
    color: #e1e1e1;
    border: 1px solid #4e4e4e;
    padding: 2px;
    padding-right: 0;
    border-radius: 2px;
}

div#side-bar input[type='range'] {
    width: 100%;
    background-color: #202020;
}

canvas {
    width: 100%;
    height: 100%;
}
