* {
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}
body[data-rickrolled=true] {
  overflow: hidden;
  background-color: black;
}
body[data-rickrolled=true] span {
  display: none;
}
body[data-rickrolled=false] {
  font-family: Arial;
  font-size: 1.5em;
  background-color: gainsboro;
  color: grey;
}
body[data-rickrolled=false] video {
  display: none;
}

video {
  width: 100vmin;
  height: 100vmin;
  object-fit: cover;
  display: block;
}
