* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;

    &[data-rickrolled='true'] {
        overflow: hidden;
        background-color: black;

        span {
            display: none;
        }
    }

    &[data-rickrolled='false'] {
        font-family: Arial;
        font-size: 1.5em;
        background-color: gainsboro;
        color: grey;

        video {
            display: none;
        }
    }
}

video {
    width: 100vmin;
    height: 100vmin;
    object-fit: cover;
    display: block;
}
