@import 'mixins';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 10px;
    min-height: 100vh;
    @include super-centered;
}

canvas {
    width: 80vmin;
    image-rendering: crisp-edges;
}

#gui {
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    display: flex;
    width: 100%;
    text-align: center;
}

%icon {
    flex: 1;

    &::before {
        color: transparent;
        text-shadow: 0 0 black;
        margin-right: 3px;
    }
}

#deaths {
    @extend %icon;
    &::before {
        content: '☠️';
    }
}

#food {
    @extend %icon;
    &::before {
        content: '🍎';
    }
}

.wrapper {
    text-align: center;
    min-width: 100px;
}
