@import 'mixins';
@import 'blocky';

/* ===========
    Variables & default styling
   =========== */
body {
    font-family: Arial, Helvetica, sans-serif;
    --card-background-color: #fff;
    --accent-color: #00ae86;
    --accent-font-color: #fff;
    --shadow-color: #444;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ===========
    Typography
   =========== */

h1,
h2,
h3 {
    margin: 0;
    font-family: menlo, monospace;
}

code {
    font-family: menlo, monospace;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ===========
    3d effect
   =========== 
*/

.card,
blockquote {
    @include blocky;
}

button {
    @include blocky($accent: true);
}

/* ===========
    Layout
   =========== */

.grid-container {
    padding: 1em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

/* theme-changer things */

.theme-container {
    display: none;
}

/* ===========
    General styling/tweaks
   =========== */

.hidden {
    opacity: 0;
    transition: opacity 1s;
}

.hidden:hover {
    opacity: 1;
}
