* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px 10%;
    font-family: monospace;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

/* 😎 just don't use classes or ids at all */
main > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
}

main > div > a {
    grid-column: 1;
}

main > div > article {
    grid-column: 2 / span 3;
}

img {
    max-width: 100%;
}