@import 'mixins';

* {
    margin: 0;
    padding: 0;
}

:root {
    color-scheme: light dark;
}

body[data-theme='dark'] {
    --main-bg: #2b2b2b;
    --secondary-bg: #363636;
    --font-color: #f0f0f0;
    --border-color: #181818;
    --border-width: 3px;
    --link-color: #58a6ff;
    font-weight: 350;
}

body[data-theme='light'] {
    --main-bg: white;
    --secondary-bg: #eee;
    --font-color: rgba(0, 0, 0, 0.8);
    --border-color: #d0d0d0;
    --link-color: #0000ee;
    --border-width: 1.5px;
}

body[data-theme='dark'] img {
    filter: brightness(0.8) contrast(1.2);
}

body {
    background-color: var(--main-bg);
    margin-top: 1px;
}

/*  CLASSES AND MAIN ELEMENTSSS */

h1:not(:empty) {
    /*text-shadow: 0px 1px 10px #000000;*/
    font-family: 'Quicksand', 'Lucida Console', Monaco, monospace;
    font-size: calc(min(8vw, 50px));
    font-weight: 100;
    text-align: center;
    margin: 10px;
    margin-bottom: 0;
}

article {
    color: var(--font-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-size: 14px;
}

footer a {
    text-decoration: none;
}

.grid-container {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(calc(min(600px, 100vw)), 1fr));
    grid-gap: 10px;
}

.card {
    background-color: var(--main-bg);
    border: var(--border-width) solid var(--border-color);
    box-shadow: 0px 0px 41px -13px rgba(255, 255, 255, 0.21);
    padding: 35px;
    padding-top: 15px;
    border-radius: 12px;
    z-index: 1;
}

/* SMALL CHANGES & SINGLE ELEMENTS*/

::selection {
    background: #14a35b;
}

blockquote {
    background-color: var(--secondary-bg);
    padding: 10px 15px;
    margin: 5px 0;
    border-left: 3px solid #aeacacde;
}

hr {
    border-color: var(--border-color);
    border-style: dashed;
    margin: 0.5em 0;
}

footer img {
    margin: 10px auto 20px;
    display: block;
}

h2 {
    font-size: 2em;
}

#t1 {
    color: #cc7832;
    transition: color 5s;
}

#t2 {
    /* .github */
    color: #ee7832;
    transition: color 5s;
}

#t3 {
    /* . */
    color: #6897bb;
    transition: color 5s;
    cursor: cell;
}

#t4 {
    /* com */
    color: #9876aa;
    transition: color 5s;
}

button {
    background-color: #4caf50;
    color: #000000;
    border: none;
    padding: 10px;
    border-radius: 4px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #347736;
}

.hidden {
    transition: opacity 1.5s;
    opacity: 0;
}

.hidden:hover {
    opacity: 1;
}

#invis {
    font-size: 5px;
    color: black;
}

.theme-container {
    color: var(--font-color);
    position: absolute;
    top: 2em;
    right: 2em;
}

.theme-toggle {
    display: none;
}

.theme-emoji {
    font-size: 1.5em;
    cursor: pointer;
}

.no-select,
img {
    user-select: none;
}

li {
    margin-left: 2em;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.sassy-logo {
    font-family: 'Playball';
    font-size: 1.2em;
}
