* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

#ui {
    width: 100%;
    height: 100px;
    display: grid;
    place-items: center;
}
