* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: teal;
  --foreground-color: silver;
  --grid-spacing: 10px;
  --grid-size: 120px;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  padding: var(--grid-spacing);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--grid-size), 1fr));
  gap: var(--grid-spacing);
}

.card {
  background-color: var(--foreground-color);
  border: 5px ridge;
}

.c1 {
  aspect-ratio: 1;
  grid-column-end: span 1;
  padding: var(--small-pad);
  --small-pad: calc(var(--grid-spacing) / 2);
}

.c1 .c {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 2px;
  height: 100%;
}

.c1 .c > div {
  margin: 2px;
}

.c1 .l1 {
  background-color: #f8682c;
}

.c1 .l2 {
  background-color: #91c300;
}

.c1 .l3 {
  background-color: #00b4f1;
}

.c1 .l4 {
  background-color: #ffc300;
}

.c2 {
  aspect-ratio: 1;
  grid-column-end: span 2;
  padding: 5px;
}

.c2 canvas {
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
  display: block;
}

.c3 {
  aspect-ratio: 2;
  grid-column-end: span 2;
}
